body {
  background-image:url(car1/img16.jpg); 
    background-position:center; 
}
.ck
{
   background-image:url();  
}
.tk
{
    background-image:url(car1/img15.jpg);
   
}
.a
{
    background-color:Silver;
}
.b
{
    background-color:Red;
}
.c
{
    background-color:Blue;
}
.w
{
    background-color:White;
}
